<%= form_for(@wish) do |f| %>
  <% if @wish.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@wish.errors.count, "error") %> prohibited this wish from being saved:</h2>

      <ul>
      <% @wish.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <i class="fa fa-spoon"></i>
  <%= f.label "Type of Burrito You Would Like:" %>
  <%= f.select "wish_type", ['Carne Asada', 'Pork', 'Chicken'], class: "form-control" %>
  </div>

  <div class="form-group">
    <i class="fa fa-home"></i>
    <%= f.label "Where would you like it delivered?" %><br>
    <%= f.text_field :wish_address, :placeholder => "Street Address", class: "form-control"  %>
    <br />
    <%= f.text_field :wish_zip, :placeholder => "Zip Code", class: "form-control"  %>
  </div>
  <div class="form-group">
    <i class="fa fa-phone"></i>
    <%= f.label "What is a phone number you can be reached at if the Genie needs it?" %><br>
    <%= f.text_field :wish_phone, :placeholder => "Your Phone Number", class: "form-control"  %>
  </div>
    <div class="form-group">
    <i class="fa fa-star"></i>
    <%= f.label :wish_instructions %><br>
    <%= f.text_field :wish_instructions, :placeholder => "Special Instructions", class: "form-control"  %>
  </div>

<% if user_signed_in? %>

  <div class="form-group">
<%= f.label :delivertostatus_id %><br />
    <%= collection_select(:wish, :delivertostatus_id, @delivertostatuses, :id, :delivertostatus_name, {:prompt => false}) %> 
  </div>

  <% end %>


  <div class="actions">
    <%= f.submit "Genie, Bring Me My Burrito" %>
  </div>
<% end %>
