
<h1>Burrito<span id="logo2">Genie</span></h1>
<img src="https://s3.amazonaws.com/burritogenie/images/genie350.png"><br />
<p>Thank you for your order. The Genie will deliver (1) <%= @wish.wish_type %> Burrito to  <%= @wish.wish_address %>, <%= @wish.wish_zip %>. Thank you for using the BurritoGenie! 
</p>

<p><strong>In order to complete your purchase you must:</strong></p>
<!-- begin buy button --> 
																			<%= form_tag charges_path, id: 'chargeForm' do %>
																	    <script src="https://checkout.stripe.com/checkout.js"></script>
																	    <%= hidden_field_tag 'stripeToken' %>
																	    <%= hidden_field_tag 'stripeEmail' %> 
																	    <%= hidden_field_tag 'amount', 1000 %>
																	     <%= hidden_field_tag 'wish_id', @wish.id %> 

																	    <button id="btn-buy" type="button" class="btn btn-success"><i class="fa fa-money"></i> Pay For Your Burrito</button>
																	    <script>
																	    var handler = StripeCheckout.configure({
																	      key: '<%= Rails.configuration.stripe[:publishable_key] %>',
																	      token: function(token, arg) {
																	        document.getElementById("stripeToken").value = token.id;
																	        document.getElementById("stripeEmail").value = token.email;
																	        document.getElementById("chargeForm").submit();
																	      }
																	    });
																	     document.getElementById('btn-buy').addEventListener('click', function(e) {
																	      	handler.open({
																	        name: 'One Burrito',
																	        description: 'One Burrito, Delivered ($10.00)',
																	        amount: document.getElementById("amount").value
																	    });
																	    e.preventDefault();
																	   })
																	  </script>
																	<% end %>
																	<!-- end buy button --> 
