<h1>Burrito Directory</h1>
<% @burritolocations.each do |burritolocation| %>
<div class="panel panel-default">
  <div class="panel-heading"><%= burritolocation.burritolocation_name %></div>
  <div class="panel-body">
    <%= burritolocation.burritolocation_name %><br />
          <%= image_tag burritolocation.image.url(:medium) %><br /><br />
          <i class="fa fa-map-marker"></i>: <%= burritolocation.burritolocation_address %><br />
          <i class="fa fa-phone"></i>: <%= burritolocation.burritolocation_phone %><br />
          <i class="fa fa-desktop"></i> <%= link_to "Website", burritolocation.burritolocation_url %>
          <br /> <br />
          <%= burritolocation.burritolocation_description %>
  </div>
  <div class="panel-footer">
  <% if user_signed_in? %>
  <%= link_to 'Show', burritolocation %> | 
  <%= link_to 'Edit', edit_burritolocation_path(burritolocation) %> |
  <%= link_to 'Destroy', burritolocation, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
  </div>
</div>

<% end %>



<%= link_to 'New Burritolocation', new_burritolocation_path %>
