<br /><br />
<center>
<img src="https://s3.amazonaws.com/burritogenie/images/burritocarpet.png"><br/><br />
</center>
<p>The Burrito Genie is grateful for your order, <%= @purchase.email %>.</p>

<p>You order of <%= @purchase.description %> was received at <%= @purchase.created_at %> and will be delivered promptly.</p>
	<hr />
	<%= form_for(@deliverto) do |f| %>
  <% if @deliverto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@deliverto.errors.count, "error") %> prohibited this deliverto from being saved:</h2>

      <ul>
      <% @deliverto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label "Delivery Address" %><br>
    <%= f.text_field :deliverto_street, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label "Zip Code" %><br>
    <%= f.text_field :deliverto_zip, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label "Phone" %><br>
    <%= f.text_field :deliverto_phone, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label "Special Instructions For The Genie:" %><br>
    <%= f.text_area :deliverto_instructions %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

</hr>

<p>Order Email: <%= @purchase.email %></p>
<p>Order PID: <%= @purchase.id %></p>
<p>Amount: <%= @purchase.amount %></p>
<p>Description: <%= @purchase.description %></p>
<p>Order Receieved: <%= @purchase.created_at %></p>
<p>Order uuid: <%= @purchase.uuid %></p>

