<p id="notice"><%= notice %></p>

<p>
  <strong>Delivertostatus name:</strong>
  <%= @delivertostatus.delivertostatus_name %>
</p>

<p>
  <strong>Deliverttostatus definition:</strong>
  <%= @delivertostatus.deliverttostatus_definition %>
</p>

<%= link_to 'Edit', edit_delivertostatus_path(@delivertostatus) %> |
<%= link_to 'Back', delivertostatuses_path %>
