<p>The Burrito Genie is grateful for your order, <%= @purchase.email %>.</p>

<p>You order will be delivered promptly.</p>

<p>Order Email: <%= @purchase.email %></p>
<p>Order PID: <%= @purchase.id %></p>
<p>Amount: <%= @purchase.amount %></p>
<p>Description: <%= @purchase.description %></p>
<p>Order Receieved: <%= @purchase.created_at %></p>