	<div class="row">
    <div class="col-md-4"></div>
	<div class="col-md-4 text-center">
<img src="https://s3.amazonaws.com/burritogenie/images/genie350.png"><br /><br />
<h1>Thank You</h1>
The Genie will be in touch when he is ready to deliver delicious burritos to your area.  

<% if user_signed_in? %>

<p>
  <strong>Contact name:</strong>
  <%= @contact.contact_name %>
</p>

<p>
  <strong>Contact email:</strong>
  <%= @contact.contact_email %>
</p>

<p>
  <strong>Contact zip:</strong>
  <%= @contact.contact_zip %>
</p>

<p>
  <strong>Contact status:</strong>
  <%= @contact.contact_status %>
</p>

<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>

<% end %>

</div><!-- end md-12 -->
<div class="col-md-4"></div>
</div><!-- end row --> 

