<!DOCTYPE html>
<html>
<head>
  <title>Burrito Genie | Hot Fresh Declicious Burritos Delivered to You via Magic.</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

  <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <center>
     <% flash.each do |name, msg| %>
     <%= content_tag(:div, msg, class: "alert alert-#{name}") %>
   </center>
<% end %>
			<div class="container">
							<%= yield %>
              <div class="row"><div class="footertext">
              	<div class="col-md-12 text-right" id="footertext"><br /><%= link_to "Home", root_path %> | 
                  <% if user_signed_in? %>
                  <i class="fa fa-user"></i> &nbsp; 
                  <%= link_to "Contacts", contacts_path %>
                  &nbsp; |
                  <i class="fa fa-user"></i> &nbsp; 
                  <%= link_to "Profile", edit_user_registration_path %>
                  &nbsp; |
                  <i class="fa fa-minus-square"></i>&nbsp; 
                  <%= link_to "Logout", destroy_user_session_path, method: :delete %>
                  <% else %>
                  <i class="fa fa-user"></i> &nbsp; 
                  <%= link_to "Login", new_user_session_path %>
                  &nbsp; |
                  <% end %>
              		 <span class="glyphicon glyphicon-flag"></span> Made in Encinitas, CA. 
                        &copy; 2014 Nalu Media, All Rights Reserved &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 

              	</div><!-- end md-8-->
                </div><!-- end footertext -->
              </div> <!-- end row -->

			</div><!-- end container --> 
</body>
</html>
